.post-stats {
	display: flex;
	gap: 10px;
	padding: 5px;
	margin-left: 5px;

	.stat-container {
		display: flex;
		justify-content: center;
		align-items: center;

		button {
			background-color: var(--clr-secondary-500);
			border: 2px solid var(--clr-secondary-600);
			padding: 5px 10px;
			border-radius: 5px;
			display: flex;
			gap: 10px;
			cursor: pointer;
		}
		button:active {
			background-color: var(--clr-secondary-400);
			border: 2px solid var(--clr-secondary-500);
		}

		.comment-button {
			display: flex;
			gap: 5px;
			align-items: center;
			text-decoration: none;
			color: var(--clr-accent-400);
			font-size: var(--fs-300);
			border-bottom: 3px solid var(--clr-accent-400);
			border-radius: 3px;
			svg {
				fill: var(--clr-accent-400);
			}
		}
		.like-button {
			svg {
				fill: green;
			}
		}
		.dislike-button {
			svg {
				fill: red;
			}
		}
	}
	.remove-button {
		margin-left: auto;

		button {
			background-color: rgb(66, 0, 0);
		}
	}
}
.edit-form {
	position: relative;
	width: 100%;
	padding-inline: 50px;
	display: grid;
	place-items: center;

	.edit-area {
		width: 80%;
		height: 100px;
		border: 2px solid var(--clr-accent-400);
		border-radius: 5px;
		padding: 10px;
		font-size: var(--fs-300);
		color: var(--clr-text-100);
		background-color: var(--clr-accent-500);
		resize: none;

		&::placeholder {
			color: var(--clr-accent-400);
			opacity: 1;
		}

		&:focus {
			outline: none;
			border: 2px solid var(--clr-accent-400);
		}
	}
	button {
		top: 10px;
		right: 10px;
		background-color: var(--clr-secondary-400);
		border: 2px solid var(--clr-dark-500);
		border-radius: 5px;
		padding: 5px 10px;
		color: var(--clr-text-100);
		font-size: var(--fs-300);
	}
}
