.header-nav {
	position: sticky;
	top: 100px;
	width: 75px;
	height: fit-content;
	width: fit-content;
	padding: 10px;
	gap: 25px;
	place-items: center;
	padding-block: 20px;
	border-radius: 15px;
	display: grid;
	background-color: var(--clr-primary-500);
	font-size: var(--fs-400);
	grid-column: left-content;
}
