.feed-page {
	grid-column: middle-content;
}

.title {
	color: var(--clr-primary-100);
	font-size: var(--fs-500);
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-content {
	display: grid;
	place-items: center;
	font-size: var(--fs-300);
	display: grid;
	grid-template-columns: 1fr [content-start] min(100%, 700px) [content-end] 1fr;

	> * {
		grid-column: content;
	}
	> div {
		width: 100%;
	}

	.feed-posts {
		display: grid;
		gap: 20px;
	}
}

.help-text {
	border-left: 5px solid var(--clr-primary-400);
	background-color: var(--clr-primary-700);
	padding: 15px 20px;
	font-size: var(--fs-400);
	display: flow-root;
	margin-top: 35px;
	display: flex;
	align-items: center;
	border-radius: 0px 10px 10px 0px;

	.help-button {
		width: max-content;
		display: block;
		margin-left: auto;
		font-weight: var(--fw-700);
	}
}
