.header-nav {
	background-color: var(--clr-primary-500);
	position: relative;
	height: 50px;
	display: flex;
	gap: 25px;
	justify-content: center;
	align-items: center;
	font-size: var(--fs-400);
}

.scroll-to-top-button {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 1000;
}

.profile-page {
	// display: grid;
	grid-column: middle-content;
	// grid-template-columns: 1fr [content-start] min(100%, 700px) [content-end] 1fr;

	> * {
		grid-column: content;
	}
}

.friend-list {
	grid-column: right-content;
}
