.post-container {
	display: grid;
	max-width: 100%;

	.post-data {
		margin: 10px;
		display: grid;
		background-color: var(--clr-primary-600);
		border-radius: 10px;
		border: 1px solid var(--clr-primary-400);
		max-width: 700px;
		padding: 10px;

		.post-content {
			display: flex;
			gap: 5px;

			.profile-pic {
				width: 50px;
				height: 50px;
				border-radius: 50%;
				background-color: var(--clr-secondary-500);
				margin: 5px;
				object-fit: cover;
			}

			.post-text-container {
				padding-top: 7px;
				.post-user-name {
					display: block;
					font-weight: var(--fw-500);
				}

				.post-user-tag {
					text-decoration: none;
					font-weight: var(--fw-700);
					// color: var(--clr-primary-400);
					--color: var(--clr-accent-400);
					--color2: var(--clr-accent-400);
					cursor: pointer;
					opacity: 1;
					color: var(--color);
					background-image: linear-gradient(180deg, var(--color), var(--color2));
					background-position: 5px 100%;
					background-repeat: no-repeat;
					background-size: calc(100% - 10px) 2px;
					padding-inline: 5px;
					margin-left: -5px;
					transition: 0.1s all;

					&:hover {
						--color2: var(--clr-accent-500);
						color: black;
						background-position: 0px 100%;
						background-size: 100% 100%;
					}
				}

				.post-user-tag + span::before {
					content: "•";
					padding: 0px 5px 0px 0px;
				}

				.post-text {
					white-space: pre-wrap;
					font-family: inherit;
					font-size: inherit;
					margin: 10px 0px;
				}

				.post-image {
					border-radius: 10px;
					max-width: 100%;
					aspect-ratio: 16/9;
					height: auto;
					object-fit: cover;
				}
			}
		}
		.post-stats {
			display: flex;
			gap: 10px;
			padding: 5px;
			margin-left: 5px;

			.stat-container {
				display: flex;
				justify-content: center;
				align-items: center;

				button {
					background-color: var(--clr-secondary-500);
					border: 2px solid var(--clr-secondary-600);
					padding: 5px 10px;
					border-radius: 5px;
					display: flex;
					gap: 10px;
				}

				.comment-button {
					display: flex;
					gap: 5px;
					align-items: center;
					text-decoration: none;
					color: var(--clr-accent-400);
					font-size: var(--fs-300);
					border-bottom: 3px solid var(--clr-accent-400);
					border-radius: 3px;
					svg {
						fill: var(--clr-accent-400);
					}
				}
				.like-button {
					svg {
						fill: green;
					}
				}
				.dislike-button {
					svg {
						fill: red;
					}
				}
			}
		}
	}
}

.replies {
	display: flex;
	position: relative;
	flex-direction: column;
	gap: 10px;
	margin-left: 50px;
}

.reply-line {
	margin-right: 10px;
	position: absolute;
	height: 100%;
	width: 3px;
	background-color: var(--clr-accent-600);
}
