.friend-list {
	position: sticky;
	width: 250px;
	grid-column: right-content;
	background-color: var(--clr-primary-500);
	display: grid;
	top: 100px;
	gap: 5px;
	height: max-content;
	padding: 15px;
	border-radius: 10px;

	.buttons {
		position: relative;
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 10px;
		margin-bottom: 10px;

		button {
			display: block;
			text-align: center;
		}
	}
}
