.message-row {
	display: flex;
	padding: 10px;
	gap: 5px;

	.message-user-name {
		font-weight: var(--fw-700);
	}

	.message-date {
		opacity: 0.8;
	}

	.message-content {
		background: var(--clr-primary-500);
		border-radius: 5px;
		width: 100%;

		.message-header {
			padding-top: 5px;
		}

		.image {
			position: relative;
			display: block;
			width: 100%;
			max-width: 700px;
		}

		pre {
			--_top: 0px 0px;
			--_bottom: 0px 0px;
			position: relative;
			font-family: inherit;
			font-size: inherit;
			white-space: pre-wrap;
			word-break: break-word;
			margin: 0px;
			padding-inline: 10px;
			border-radius: var(--_top) var(--_bottom);
			transition: 0.1s background-color;

			&:first-of-type {
				--_top: 10px 10px;
			}
			&:last-of-type {
				padding-bottom: 10px;
				--_bottom: 10px 10px;
			}

			&::before {
				position: absolute;
				color: transparent;
				transition: color 0.1s;
				content: attr(custom-tooltip);
				display: block;
				right: calc(100% + 5px);
				width: max-content;
				opacity: 0.25;
			}

			&:not(:first-of-type):hover::before {
				color: var(--clr-text-500);
			}

			&:hover {
				background: var(--clr-primary-400);
			}
		}
	}
}
