.post-stats {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
	margin-left: 5px;

	.like-button {
		fill: green;
		font-weight: var(--fw-500);
	}
	.dislike-button {
		fill: red;
		font-weight: var(--fw-500);
	}

	.comment-button {
		fill: var(--clr-accent-400);
		font-weight: var(--fw-500);
	}

	.remove-button {
		margin-left: auto;
		fill: white;
	}

	.edit-button {
		fill: white;
	}
}
.edit-form {
	position: relative;
	width: 100%;
	padding-inline: 50px;
	display: grid;
	margin-top: 10px;

	.save-button {
		margin-inline: auto;
	}

	.post-tags {
		display: flex;
		flex-wrap: wrap;
		gap: 5px;
		justify-content: center;

		.post-tag {
			border-radius: 20px;
			border: 1px solid var(--clr-primary-400);
			margin: 5px;
			padding: 2px 5px;
			background-color: var(--clr-accent-400);
			font-size: var(--fs-300);

			.tags-button {
				background-color: var(--clr-secondary-400);
				border: 2px solid var(--clr-dark-500);
				padding: 0px 5px;
				margin-left: 5px;
				cursor: pointer;
			}

			.delete-tag {
				background-color: var(--clr-secondary-400);
				border: 2px solid var(--clr-dark-500);
				padding: 0px 5px;
				margin-left: 5px;
				cursor: pointer;
			}
		}
	}

	.edit-area {
		height: 100px;
		border: 2px solid var(--clr-accent-400);
		border-radius: 5px;
		padding: 10px;
		font-size: var(--fs-300);
		color: var(--clr-text-100);
		background-color: var(--clr-accent-500);
		resize: none;

		&::placeholder {
			color: var(--clr-accent-400);
			opacity: 1;
		}

		&:focus {
			outline: none;
			border: 2px solid var(--clr-accent-400);
		}
	}
}
