.search-form {
	width: max-content;
	margin-inline: auto;
	max-width: 400px;
	width: 100%;
	padding-inline: 10px;

	.search-input {
		width: 100%;
		padding: 0.5rem 1rem;
		border-radius: 0.5rem;
		border: 1px solid transparent;
		background-color: var(--clr-primary-700);
		font-size: 1rem;
		color: var(--color-gray-800);
		transition: border-color 0.2s ease-in-out;
		outline: none;

		&:focus {
			background-color: var(--clr-primary-600);
			border: 1px solid var(--clr-primary-500);
		}

		&::placeholder {
			color: var(--clr-text-500);
			opacity: 0.3;
		}
	}
}
