.chat-bar {
	height: 50px;
	background-color: var(--clr-primary-400);
	display: grid;
	grid-template-columns: auto auto 1fr;

	.bar-user-info-container {
		display: grid;
		grid-template-columns: auto auto;
		align-items: center;
		height: max-content;
		margin-block: auto;

		.user-name {
			grid-column: 1 / -1;
			color: var(--clr-text-500);
			text-decoration: none;
		}

		.user-status-indicator {
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: rgb(0, 255, 0);
			margin-inline: 1px 5px;
			margin-top: 1px;
		}

		.user-status-indicator,
		.user-status {
			grid-row: 2;
		}
	}
}
