nav {
	background-color: var(--clr-primary-500);
	position: relative;
	height: 50px;
	display: flex;
	gap: 25px;
	justify-content: center;
	align-items: center;
	font-size: var(--fs-400);
}
button {
	background-color: var(--clr-secondary-600);
	padding: 5px;
	margin: 5px;
	border-radius: 5px;
}
h1 {
	color: var(--clr-primary-100);
	font-size: var(--fs-500);
	display: flex;
	justify-content: center;
	align-items: center;
}
.new-post {
	position: relative;
	width: 100%;
	padding-inline: 50px;

	p {
		font-size: var(--fs-500);
		margin: 10px 0px;
	}

	textArea {
		width: 100%;
		height: 100px;
		resize: none;
		background-color: var(--clr-accent-600);
	}

	.button-container {
		display: flex;
		justify-content: flex-end;

		svg {
			fill: var(--clr-accent-400);
		}
	}
}

.main-content {
	display: grid;
	place-items: center;
	font-size: var(--fs-300);
	display: grid;
	grid-template-columns: 1fr [content-start] min(100%, 700px) [content-end] 1fr;

	> * {
		grid-column: content;
	}

	.post-container {
		display: grid;
		max-width: fit-content;

		.post-data {
			margin: 10px;
			display: grid;
			background-color: var(--clr-primary-600);
			border-radius: 10px;
			border: 1px solid var(--clr-primary-400);
			max-width: 700px;
			padding: 10px;

			.post-content {
				display: flex;
				gap: 5px;

				.profile-pic {
					width: 50px;
					height: 50px;
					border-radius: 50%;
					background-color: var(--clr-secondary-500);
					margin: 5px;
					object-fit: cover;
				}

				.post-text-container {
					padding-top: 7px;
					.post-user-name {
						display: block;
						font-weight: var(--fw-500);
					}

					.post-user-tag::after {
						content: " •";
						padding: 0px 5px;
					}

					.post-user-tag,
					.time-stamp {
						opacity: 0.6;
					}

					.post-text {
						white-space: pre-wrap;
						font-family: inherit;
						font-size: inherit;
						margin: 10px 0px;
					}

					.post-image {
						border-radius: 10px;
						max-width: 100%;
						aspect-ratio: 16/9;
						height: auto;
						object-fit: cover;
					}
				}
			}
			.post-stats {
				display: flex;
				gap: 10px;
				padding: 5px;
				margin-left: 5px;

				.stat-container {
					display: flex;
					gap: 5px;
					justify-content: center;
					align-items: center;

					.comment-button {
						svg {
							fill: var(--clr-accent-400);
						}
					}
					.like-button {
						svg {
							fill: green;
						}
					}
					.dislike-button {
						svg {
							fill: red;
						}
					}
				}
			}
		}
	}
	.main-replies {
		display: flex;
		flex-direction: column;
		gap: 10px;

		.replies {
			display: flex;
			position: relative;
			flex-direction: column;
			gap: 10px;
			margin-left: 50px;
		}

		.reply-line {
			margin-right: 10px;
			position: absolute;
			height: 100%;
			width: 3px;
			background-color: var(--clr-accent-600);
		}
	}
}
