.header-nav {
	background-color: var(--clr-primary-500);
	position: relative;
	height: 50px;
	display: flex;
	gap: 25px;
	justify-content: center;
	align-items: center;
	font-size: var(--fs-400);
}

.profile-page {
	display: grid;
	grid-template-columns: 1fr [content-start] min(100%, 700px) [content-end] 1fr;

	> * {
		grid-column: content;
	}

	.profile-container {
		margin-top: 100px;
		display: flex;
		gap: 25px;
		margin-bottom: 50px;

		.right-content {
			display: flex;
			flex-direction: column;
			gap: 10px;

			.profile-pic {
				width: 200px;
				height: 200px;
				border-radius: 50%;
				object-fit: cover;
				background-color: black;
			}

			.buttons {
				display: flex;
				justify-content: space-between;

				button {
					padding: 8px 15px;
					background-color: var(--clr-primary-500);
					border: 2px solid var(--clr-primary-400);
					border-radius: 5px;
				}
			}
		}

		.left-content {
			display: grid;
			gap: 5px;

			.profile-name {
				font-size: var(--fs-500);
				font-weight: var(--fw-600);
				margin: 0px;
			}

			.profile-description {
				font-family: inherit;
				font-size: inherit;
				margin: 0px;
				white-space: pre-wrap;
			}

			.social-stats {
				display: flex;
				gap: 15px;
			}

			.filter-buttons {
				background-color: var(--clr-primary-600);
				display: grid;
				grid-template-columns: repeat(3, 1fr);

				button {
					background-color: var(--clr-primary-600);
					border: none;
					border-radius: 0px;
					padding: 10px 0px;
					border-bottom: 2px solid var(--clr-primary-400);

					&.selected {
						border-bottom: 2px solid var(--clr-accent-400);
						background-color: var(--clr-accent-600);
					}
				}
			}
		}
	}
}

.post-container {
	display: grid;
	max-width: fit-content;

	.post-data {
		margin: 10px;
		display: grid;
		background-color: var(--clr-primary-600);
		border-radius: 10px;
		border: 1px solid var(--clr-primary-400);
		max-width: 700px;
		padding: 10px;

		.post-content {
			display: flex;
			gap: 5px;

			.profile-pic {
				width: 50px;
				height: 50px;
				border-radius: 50%;
				background-color: var(--clr-secondary-500);
				margin: 5px;
				object-fit: cover;
			}

			.post-text-container {
				padding-top: 7px;
				.post-user-name {
					display: block;
					font-weight: var(--fw-500);
				}

				.post-user-tag::after {
					content: " •";
					padding: 0px 5px;
				}

				.post-user-tag,
				.time-stamp {
					opacity: 0.6;
				}

				.post-text {
					white-space: pre-wrap;
					font-family: inherit;
					font-size: inherit;
					margin: 10px 0px;
				}

				.post-image {
					border-radius: 10px;
					max-width: 100%;
					aspect-ratio: 16/9;
					height: auto;
					object-fit: cover;
				}
			}
		}
		.post-stats {
			display: flex;
			gap: 10px;
			padding: 5px;
			margin-left: 5px;

			.stat-container {
				display: flex;
				gap: 5px;
				justify-content: center;
				align-items: center;

				button {
					background-color: var(--clr-secondary-500);
					border: none;
					padding: 8px 15px;
					border-radius: 5px;
				}

				.comment-button {
					svg {
						fill: var(--clr-accent-400);
					}
				}
				.like-button {
					svg {
						fill: green;
					}
				}
				.dislike-button {
					svg {
						fill: red;
					}
				}
			}
		}
	}
}
