nav {
	background-color: var(--clr-primary-500);
	position: relative;
	height: 50px;
	display: flex;
	gap: 25px;
	justify-content: center;
	align-items: center;
	font-size: var(--fs-400);
}

h1 {
	color: var(--clr-primary-100);
	font-size: var(--fs-500);
	display: flex;
	justify-content: center;
	align-items: center;
}

// profile
.profile-info .title button {
	color: aqua;
}

.app-container .profile-pic {
	display: flex;
	height: 160px;
	justify-content: left;
	align-items: center;
}

.app-container .profile-pic svg {
	width: 150px;
	height: 150px;
	border-radius: 1000px;
	border: 1px solid hsl(0, 0%, 86%);
}
