.post-container {
	width: 100%;
	position: relative;

	// &:hover {
	// 	> .replies:not(:hover) {
	// 		// .reply-line {
	// 		// 	opacity: 0.5;
	// 		// }
	// 		> .reply-line {
	// 			opacity: 1;
	// 		}

	// 		// .post-data {
	// 		// 	opacity: 0.8;
	// 		// }
	// 		// > .post-container > .post-data {
	// 		// 	opacity: 1;
	// 		// }
	// 	}
	// }

	&.hide-comments {
		> .replies {
			display: none;
		}

		.content {
			display: none;
		}

		.footer {
			display: none;
		}
	}

	.post-data {
		margin: 10px;
		display: grid;
		background-color: var(--clr-primary-700);
		border-radius: 0px 10px 10px 0px;
		border-left: 5px solid var(--clr-primary-400);
		padding: 10px;

		&.removed {
			background-color: var(--clr-primary-700);
			border-color: var(--clr-primary-600);
			filter: grayscale(0.85);

			.post-content {
				margin-left: 12px;
			}
		}

		.post-content {
			display: flex;
			gap: 5px;

			.post-text-container {
				padding-top: 2px;
				width: 100%;
			}

			.profile-pic {
				width: 50px;
				height: 50px;
				border-radius: 50%;
				background-color: var(--clr-secondary-500);
				margin: 5px;
				object-fit: cover;
			}
		}
	}
}

.replies {
	display: flex;
	position: relative;
	flex-direction: column;
	gap: 10px;
	margin-left: 20px;
	padding-left: 10px;
}

.reply-line {
	left: 0px;
	position: absolute;
	height: 100%;
	width: 5px;
	border-radius: 50px;
	background-color: var(--clr-accent-500);
	opacity: 0.8;
}
