.title {
	color: var(--clr-primary-100);
	font-size: var(--fs-500);
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-content {
	display: grid;
	place-items: center;
	font-size: var(--fs-300);
	display: grid;
	grid-template-columns: 1fr [content-start] min(100%, 700px) [content-end] 1fr;

	> * {
		grid-column: content;
	}

	> div {
		width: 100%;
	}

	.main-replies {
		display: flex;
		flex-direction: column;
		gap: 10px;

		.replies {
			display: flex;
			position: relative;
			flex-direction: column;
			gap: 10px;
			margin-left: 50px;
		}

		.reply-line {
			margin-right: 10px;
			position: absolute;
			height: 100%;
			width: 3px;
			background-color: var(--clr-accent-600);
		}
	}
}
