.friend-row {
	position: relative;
	width: 100%;
	height: max-content;
	border-radius: 5px;
	padding: 0px 5px;
	background-color: var(--clr-primary-600);
	display: flex;
	align-items: center;
	cursor: pointer;
	gap: 0px;
	padding: 5px 10px;

	.profile-pic {
		width: 35px;
		height: 35px;
	}

	.friend-info-container {
		display: grid;
		margin-left: 10px;
		color: rgb(255, 255, 255);
		text-wrap: nowrap;
		white-space: nowrap;
		place-items: start;
		overflow: hidden;
		width: 100%;

		> * {
			max-width: 100%;
			text-overflow: ellipsis;
			overflow: hidden;
		}
	}
}
