.new-post {
	position: relative;
	width: 100%;
	padding-inline: 50px;
	display: grid;

	p {
		font-size: var(--fs-500);
		font-weight: var(--fw-600);
		margin: 10px 0px;
	}

	textArea {
		min-height: 0px;
		max-height: 300px;
		border-radius: 5px;
		border: 2px solid transparent;
		resize: none;
		background-color: var(--clr-accent-600);
		padding: 10px 15px;
		padding-bottom: 0px;
		font-size: inherit;
		font-family: inherit;
		box-sizing: content-box;
		font-weight: var(--fw-500);

		&::placeholder {
			color: var(--clr-accent-400);
			opacity: 1;
		}

		&:focus {
			outline: none;
			border: 2px solid var(--clr-accent-400);
		}
	}

	.button-container {
		display: flex;
		justify-content: flex-end;

		button {
			background-color: var(--clr-secondary-600);
			padding: 5px;
			margin: 5px;
			border-radius: 5px;
		}

		svg {
			fill: var(--clr-accent-400);
		}
	}
}
