:root {
	--color-scheme: dark;

	--font-family: system-ui;

	--fw-500: 500;
	--fw-600: 600;
	--fw-700: 700;

	--fs-300: clamp(0.94rem, calc(0.92rem + 0.08vw), 0.98rem);
	--fs-400: clamp(1.13rem, calc(1.06rem + 0.33vw), 1.31rem);
	--fs-500: clamp(1.35rem, calc(1.21rem + 0.69vw), 1.75rem);
	--fs-600: clamp(1.62rem, calc(1.37rem + 1.24vw), 2.33rem);
	--fs-700: clamp(1.94rem, calc(1.54rem + 2.03vw), 3.11rem);
	--fs-800: clamp(2.33rem, calc(1.7rem + 3.15vw), 4.14rem);
	--fs-900: clamp(2.8rem, calc(1.85rem + 4.74vw), 5.52rem);

	--clr-primary-400: hsl(300, 21%, 30%);
	--clr-primary-500: hsl(300, 21%, 23%);
	--clr-primary-600: hsl(300, 21%, 18%);
	--clr-secondary-400: hsl(84, 20%, 8%);
	--clr-secondary-500: hsl(84, 20%, 5%);
	--clr-secondary-600: hsl(84, 20%, 3%);
	--clr-accent-400: hsl(120, 21%, 58%);
	--clr-accent-500: hsl(120, 21%, 45%);
	--clr-accent-600: hsl(120, 21%, 35%);
	--clr-background-500: hsl(270, 22%, 9%);
	--clr-text-500: hsl(240, 20%, 99%);
	--clr-dark-500: hsl(0, 0%, 0%);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	color-scheme: var(--color-scheme);
}

body {
	position: absolute;
	margin: 0px;
	font-family: var(--font-family);
	font-size: var(--fs-300);
	color: var(--clr-text-500);
	background-color: var(--clr-background-500);
	width: 100%;
	height: 100%;
	inset: 0px;
}

#root {
	width: 100%;
	height: 100%;
}
